<!-- wp:template-part {"slug":"header","theme":"elite-electrician","tagName":"header"} /-->

<!-- wp:pattern {"slug": "elite-electrician/header-011"} /-->

<!-- wp:pattern {"slug": "elite-electrician/content-022"} /-->

<!-- wp:pattern {"slug": "elite-electrician/content-023"} /-->

<!-- wp:pattern {"slug": "elite-electrician/content-024"} /-->

<!-- wp:pattern {"slug": "elite-electrician/content-025"} /-->

<!-- wp:pattern {"slug": "elite-electrician/cta-006"} /-->

<!-- wp:template-part {"slug":"footer","theme":"elite-electrician","area":"footer"} /-->